################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomerManagementSystem
/bin/Debug
/obj/Debug
/CustomerManagementSystem/obj/Debug
/CustomerManagementSystemTest/bin/Debug
/CustomerManagementSystemTest/obj/Debug
/packages
/CustomerManagementSystem/bin/Debug/CustomerManagementSystem.exe
/CustomerManagementSystem/bin/Debug/CustomerManagementSystem.exe.config
/CustomerManagementSystem/bin/Debug/CustomerManagementSystem.pdb
/CDB/obj/Debug
/CDB/bin/Debug
/CustomerManagementSystem/bin/Debug
/DataModel/bin/Debug
/DataModel/obj/Debug
/.vs
/CDB/bin/x64/Debug
/CDB/obj
/CustomerManagementSystem/bin/x64/Debug
/CustomerManagementSystem/obj
/CustomerManagementSystemInstaller/bin/Debug
/CustomerManagementSystemInstaller/obj/Debug
/CustomerManagementSystemTest/bin/x64/Debug
/CustomerManagementSystemTest/obj/x64
/DataModel/bin/x64/Debug
/DataModel/obj/x64/Debug
/DataModel/obj/x64/Release
/CustomerManagementSystem/bin/x64/Release
/CDB/bin/x64/Release
/CustomerManagementSystemInstaller/bin/Release
/CustomerManagementSystemInstaller/obj/Release
/CustomerManagementSystemTest/bin/x64/Release
/DataModel/bin/x64/Release
/UserInterface/obj/Debug
/UserInterface/bin/Debug
