################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomerManagementSystem
/bin/Debug
/obj/Debug
/CustomerManagementSystem/obj/Debug
/CustomerManagementSystemTest/bin/Debug
/CustomerManagementSystemTest/obj/Debug
/packages
/CustomerManagementSystem/bin/Debug/CustomerManagementSystem.exe
/CustomerManagementSystem/bin/Debug/CustomerManagementSystem.exe.config
/CustomerManagementSystem/bin/Debug/CustomerManagementSystem.pdb
/CDB/obj/Debug
/CDB/bin/Debug
/CustomerManagementSystem/bin/Debug
/DataModel/bin/Debug
/DataModel/obj/Debug
